<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/table_style.css}"/>
<title>Insert title here</title>
</head>
<body>
<div th:include="fragment/header :: header"></div>
<div th:include="fragment/admin_navbar :: admin_navbar"></div>


<div class="searcher" style="margin-bottom:40px;margin-left:40px"></div>
<div id="server_message" style="width:450px !important;margin:0 auto;text-align:center"></div>
<div class="display" style="margin-left:30px;margin-top:50px;margin-right:30px"></div>

<script src="js/admin_search.js"></script>

<script>
$(".ajaxCall").on("click",function(){
	var fragment = $(this).attr("id");
    $(".searcher").load("include_fragment","fragment=" + fragment);

})
</script>
</body>
</html>